DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/aeroclube_db"
JWT_SECRET="your-strong-jwt-secret-min-32-chars"
JWT_EXPIRES_IN="8h"
PORT=3000

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net"
AZURE_STORAGE_CONTAINER="aeroclube"
